Button {
  color: rgb(241, 241, 247);
  background-color: rgb(60, 21, 235);
  border: none;
  border-radius: 18px;
  height: 35px;

  cursor: pointer;
  width: 74px;
  font-size: 15px;
  font-weight: bold;
  transition: opacity 1s;
  vertical-align: top;
}
button:hover {
  background-color: rgb(14, 138, 147);
  opacity: 0.4;
  box-shadow: 10px 10px 10px rgba(13, 97, 162, 0.25);
  transform: scale(1.1);
}
button:active {
  background-color: rgb(41, 27, 54);
}